// Font Sizes

$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

$primary-font: $olds;
$primary-font-regular: $olds-regular;
$primary-font-bold: $olds-bold;
$secondary-font: $raleway;
$secondary-font-regular: $raleway-regular;
$secondary-font-bold: $raleway-bold;

