// Link a Google Fonts

@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&family=Raleway:wght@400;700&display=swap');


// Colores

$white: #fff;
$isabelline: #ECECEC;
$light-gray: #D1D1D1;
$smoky-black: #0C0910;
$granite-gray: #646266;
$quick-silver: #A6A5A8;

// Breakpoints

$bp-sm: 568px;
$bp-md: 800px;
$bp-lg: 992px;
$bp-lg: 1200px;

