// Abstracts
@import "abstracts/variables";
@import "abstracts/mixins";

// Vendors
@import "vendor/Bootstrap4.6/bootstrap.scss";



// Base
@import "base/typography";
@import "base/fonts";
@import "base/reset";


// Layout
@import "layout/navigation";
@import "layout/seccion";
@import "layout/newsletter";
@import "layout/footer";


// Components
@import "components/button.scss";


// Pages
@import "pages/index";
@import "pages/grid_basico";


// Themes
