.boton {

    &__tienda {
        text-decoration:none;
        font-size: $small;
        font-family: $primary-font;
        font-weight: $primary-font-bold;
        color: $smoky-black;
        padding-top:15px;
        padding-bottom:15px;
        padding-left:40px;
        padding-right:40px;
        background-color: transparent;
        border-width: 1px;
        border-style: solid;
        border-color: $smoky-black;
    }
}