.grid_basic {
    display: grid;
    grid-template-columns: 25vw 50vw 25vw;
    grid-template-rows: 251px 251px 251px;

    .box {
        border: 1px solid $quick-silver;
    }

    .section1 {
        grid-column: 1/4;
    }

    .section2 {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    

    .section3 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .section4 {
        writing-mode: vertical-rl;
        grid-row: 3/4;
        grid-column: 2/3;
        
    }

    //.section5 {
        //grid-column: 3/4;
        //grid-row: 2/4;
    // }
}