/* DEFINIR PROPIEDADES DEL CONTENEDOR GENERAL*/

.container {
    display: grid;
    grid-template-columns: 24vw 20vw 6vw 50vw;
    grid-template-rows: 20vh 50vh 30vh;
    
    
    &__grid1 {
        grid-column: 1/4;
        //grid-rows: 1/2;
        box-sizing: border-box;
        

    }

    &__grid2 {
        grid-column: 1/3;
        grid-row: 2/3;
        justify-content: center;
        text-align: left;
        

    }

    &__grid5 {
        grid-column: 3/4;
        grid-row: 2/4;
        box-sizing: border-box;
        
    }

    &__grid3 {
        grid-column: 1/2;
        grid-row: 3/4;
        text-align: center;
        background: $smoky-black;
    }

    &__grid4 {
        writing-mode: vertical-rl;
        grid-row: 3/4;
        grid-column: 2/3;   
        text-align: center;    
    }

    @include respond-to($bp-sm){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 20vh 20vh 5vh;

        &__grid1 {
            grid-column: 1/3;

        }

        &__grid2 {
            grid-column: 1/3;

        }

        &__grid5 {
            grid-column: 1/3;

        }

        &__grid3 {
            grid-column: 1/2;

        }

        &__grid4 {
            grid-column: 2/3;

        }

    }

    @include respond-to($bp-md){
        display: grid;
        grid-template-columns: 2fr 2fr 1f;
        grid-template-rows: 20vh 5vh 5vh;

        &__grid1 {
            grid-column: 1/3;

        }

        &__grid2 {
            grid-column: 1/3;

        }

        &__grid5 {
            grid-column: 1/3;

        }

        &__grid3 {
            grid-column: 1/2;

        }

        &__grid4 {
            grid-column: 2/3;

        }

    }
}

