/* DEFINIR PROPIEDADES DEL CONTENEDOR GENERAL*/

.content {
    display: grid;
    grid-template-columns: 30vw 10vw 60vw;
    grid-template-rows: 20vh 50vh 30vh;     
    
    //&__grid1 {
        //grid-column: 1/4;
        //grid-row: 1/2;
        //box-sizing: border-box;
    //}

    &__grid2 {
        grid-column: 1/3;
        grid-row: 1/3;   
        text-align: center;    
        justify-content: center; 
    }

    &__grid5 {
        grid-column: 3/4;
        grid-row: 1/4;     
    }

    &__grid3 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    &__grid4 {
        writing-mode: vertical-rl;
        grid-column: 2/3;
        grid-row: 3/4; 
    }

    @include respond-to($bp-sm){
        display: grid;
        grid-template-columns: 45vw 45vw 10vw;
        grid-template-rows: 45vh 45vh 10vh;

       // &__grid1 {
            //grid-column: 1/3;

        //}

        &__grid2 {
            grid-column: span 3;
            grid-row: span 2;

        }
        
        &__grid5 {
           grid-column: span 3;
           grid-row: span 1;

        }

        &__grid3 {
            grid-column: 1/3;
            grid-row: 3/4;

        }

        &__grid4 {
            grid-column: 3/4;
            grid-row: 3/4;
            writing-mode: vertical-rl;

        }

    }

    @include respond-to($bp-md){
        display: grid;
        grid-template-columns: 45vw 45vw 10vw;
        grid-template-rows: 45vh 45vh 10vh;

        //&__grid1 {
          //  grid-column: 1/3;

       // }

        &__grid2 {
            grid-column: 1/4;
            grid-row: 2/3;

        }

        &__grid5 {
            grid-column: 1/2;
            //grid-row: 1/2;

        }

        &__grid3 {
            grid-column: 1/3;
            grid-row: 3/4;

        }

        &__grid4 {
            grid-column: 3/4;
            grid-row: 3/4;
            writing-mode: vertical-rl;

        }

    }
}

